!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
.env
.idea
.netlify
.pnp.*
.redwood
.yarn/*
/pgdata
api/types/graphql.d.ts
dev.db*
dist
dist-babel
node_modules
web/public/mockServiceWorker.js
web/types/graphql.d.ts
yarn-error.log
